li {
  list-style: none; }

.navbar {
  background: rgba(235, 218, 233, 0.719); }

.navbar-brand img {
  width: 90px;
  height: auto; }

.navbar-brand .redes-sociales {
  justify-content: right; }

header {
  height: 500px;
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  background-size: cover; }
  header .logo-slogan {
    display: flex; }
    header .logo-slogan h1 {
      font-size: xx-large;
      padding-top: 100px;
      padding-left: 15px;
      color: #5da4b4; }

.grilla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto; }
  .grilla .img-hombre {
    position: relative;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; }
    .grilla .img-hombre img {
      border-radius: 10px;
      border-top-right-radius: 100px;
      margin-right: 10px;
      max-width: 500px;
      height: auto; }
    .grilla .img-hombre div {
      padding: 60px;
      max-width: 500px;
      height: auto;
      background: #e4e7e7;
      border-radius: 25px;
      box-shadow: 0 0 10px #b2c3d6;
      box-sizing: border-box; }
      .grilla .img-hombre div p {
        text-align: justify; }
      .grilla .img-hombre div a {
        position: static;
        right: 20%;
        top: 65%; }
        .grilla .img-hombre div a input {
          background: #d5e6ea;
          border-radius: 25px;
          border: #abbbbe solid 1px;
          color: #0a96b6;
          padding: 10px; }
  .grilla .img-mujer {
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    max-width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    .grilla .img-mujer img {
      border-radius: 10px;
      border-top-left-radius: 100px;
      max-width: 500px;
      height: auto;
      margin-left: 10px; }
    .grilla .img-mujer div {
      border-radius: 10px;
      background: #ebdae9;
      max-width: 500px;
      height: auto;
      padding: 60px;
      box-shadow: 0 0 10px #b2c3d6;
      box-sizing: border-box; }
      .grilla .img-mujer div p {
        text-align: justify; }
      .grilla .img-mujer div a {
        position: static;
        top: 65%;
        right: 70%; }
        .grilla .img-mujer div a input {
          background: #d5e6ea;
          border-radius: 25px;
          border: #abbbbe solid 1px;
          color: #0a96b6;
          padding: 10px; }
  .grilla .img-peques {
    position: relative;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; }
    .grilla .img-peques img {
      border-radius: 10px;
      border-top-right-radius: 100px;
      margin-right: 10px;
      max-width: 500px;
      height: auto; }
    .grilla .img-peques div {
      padding: 60px;
      max-width: 500px;
      height: auto;
      background: #e4e7e7;
      border-radius: 25px;
      box-shadow: 0 0 10px #b2c3d6;
      box-sizing: border-box; }
      .grilla .img-peques div p {
        text-align: justify; }
      .grilla .img-peques div a {
        position: static;
        right: 20%;
        top: 65%; }
        .grilla .img-peques div a input {
          background: #d5e6ea;
          border-radius: 25px;
          border: #abbbbe solid 1px;
          color: #0a96b6;
          padding: 10px; }

.grilla2 {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(12, 100px);
  justify-content: center;
  margin-top: 25px; }
  .grilla2 img {
    border-radius: 10px;
    border-top-right-radius: 100px;
    width: 500px;
    height: auto; }
  .grilla2 p {
    justify-items: center;
    align-items: center;
    text-align: center;
    background: #ebdae9;
    box-sizing: border-box;
    box-shadow: 0 0 15px #d5e6ea;
    border-radius: 10px; }
  .grilla2 a {
    font-size: xx-small;
    text-decoration: none;
    color: #b1acac; }
  .grilla2 h1 {
    grid-column: 7 / 11;
    grid-row: 9 / 10;
    text-align: center;
    font-size: x-large;
    z-index: 1;
    margin-top: 30px; }
  .grilla2 .item1 {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
    margin-top: -100px;
    z-index: 1; }
  .grilla2 .texto1 {
    grid-column: 4 / 8;
    grid-row: 2 / 5;
    padding: 25px;
    z-index: 2; }
  .grilla2 .texto2 {
    grid-column: 1/12;
    grid-row: 4/9;
    align-items: center;
    justify-items: center;
    margin-top: -40px;
    margin-bottom: 20px;
    border-radius: 0;
    background-image: url(../images/fondoTexto.jpg);
    background-attachment: fixed; }
  .grilla2 .item3 {
    grid-column: 2 / 6;
    grid-row: 8 / 12;
    border-radius: 5px !important;
    margin-left: 50px; }
  .grilla2 .texto3 {
    grid-column: 7 / 12;
    grid-row: 8 / 12;
    text-align: center;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    width: 500px;
    height: auto;
    margin-left: -50px;
    margin-top: 100px; }
  .grilla2 .img-position {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    width: 900px;
    height: auto; }
  .grilla2 .img-position2 {
    grid-column: 8;
    grid-row: 5;
    height: 500px;
    width: auto; }
  .grilla2 .img-position3 {
    grid-column: 2 / 4;
    grid-row: 9 / 10;
    width: 123px;
    height: 123px;
    border-radius: 0 !important;
    z-index: 2;
    margin-top: 60px;
    margin-left: 50px; }
  .grilla2 .parrafo1 {
    grid-column: 2 / 7;
    grid-row: 2 / 6;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; }
  .grilla2 .parrafo2 {
    grid-column: 4 / 8;
    grid-row: 6 / 9;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: -25px;
    padding: 40px;
    background: #d3bcd0; }
  .grilla2 .parrafo3 {
    grid-column: 2 / 11;
    grid-row: 10 / 12;
    margin-top: 15px;
    margin-bottom: -30px;
    padding: 100px 25px 1px 25px;
    background: #b8a2b5; }
  .grilla2 .titulo {
    color: #d5e6ea;
    grid-column: 4 / 10;
    grid-row: 10 / 11;
    font-size: large;
    z-index: 1;
    text-align: center;
    margin-top: 50px; }

.contenedor-padre {
  justify-content: center;
  padding: 50px; }
  .contenedor-padre h1 {
    text-align: center;
    font-size: x-large;
    text-transform: uppercase; }
  .contenedor-padre p {
    text-transform: capitalize;
    text-align: center;
    padding: 10px; }

.fondo-color {
  margin-left: 100px;
  margin-top: 25px;
  background: #ebdae9;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.fondo-color2 {
  background: #f1f7d5;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 100px;
  margin-top: 25px; }

.fondo-color3 {
  background: #d5e6ea;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-left: 100px;
  margin-top: 25px; }

.contenedor-catalogo {
  background: #e4e7e7;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-right: 25px;
  height: 400px;
  box-shadow: 10px 10px 10px #b1acac; }

.fondo-footer {
  background: #ebdae9;
  border-top: solid 3px #e3e2e0; }
  .fondo-footer a {
    margin-right: 5px;
    font-size: xx-small;
    color: #7e7d7c; }
  .fondo-footer img {
    max-width: 200px;
    height: auto; }

@media (max-width: 994px) {
  footer .img-footer {
    display: none; }
  footer .row {
    flex-direction: column; }
  footer .col-4 {
    max-width: 100%; }
  footer .contacto ul li {
    width: 100%;
    text-align: justify; }
  .img-hombre, .img-mujer, .img-peques {
    flex-direction: column;
    flex-wrap: wrap; }
  .img-hombre a, .img-peques a {
    right: 5%;
    top: 87%; }
  .img-mujer a {
    right: 5%;
    top: 75%; }
  .grilla2 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%; }
    .grilla2 p, .grilla2 img, .grilla2 h1, .grilla2 a {
      width: 100%; }
    .grilla2 .titulo {
      color: #035769; }
    .grilla2 .item1 {
      margin-top: 0; }
    .grilla2 .texto2 {
      display: none; }
    .grilla2 .item3 {
      margin-left: auto;
      margin-right: auto; }
    .grilla2 .texto3 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0; }
    .grilla2 .img-position {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    .grilla2 .img-position2 {
      width: 50%;
      height: auto; }
    .grilla2 .parrafo1 {
      padding-top: 10px;
      padding-bottom: 10px; }
    .grilla2 .parrafo2 {
      width: 50%;
      margin-left: 51%;
      margin-top: -50%; }
    .grilla2 .parrafo3 {
      padding-top: 10px;
      padding-bottom: 10px; } }

@media (max-width: 768px) {
  header {
    display: none; }
  .img-hombre a {
    right: 5%;
    top: 87%; }
  .img-mujer a {
    right: 5%;
    top: 70%; }
  .img-peques a {
    right: 5%;
    top: 20%; } }

@media (max-width: 576px) {
  .img-hombre img, .img-mujer img, .img-peques img {
    width: 100%; }
  .grilla2 .img-position2 {
    width: 100%;
    height: auto; }
  .grilla2 .parrafo2 {
    width: 100%;
    margin-left: auto;
    margin-top: auto; }
  .grilla2 .img-position3 {
    margin-left: 35%;
    margin-right: 35%; } }
